services:
  web:
    build: ./docker/web
    container_name: php82_apache
    ports:
      - "8080:80"
    volumes:
      - ./src:/var/www/html
    depends_on:
      - db
    environment:
      TZ: Asia/Tokyo

  db:
    image: postgres:16
    container_name: pg
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: appdb
      POSTGRES_USER: appuser
      POSTGRES_PASSWORD: apppass
      TZ: Asia/Tokyo
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
